@charset "UTF-8";
:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --brand-color: #2196f3;
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding-left: 0;
}

button {
  cursor: pointer;
}

img {
  display: block;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.page {
  color: var(--primary-text-color);
  background-color: #ffffff;
  font-family: "Roboto", sans-serif;
}

.list {
  list-style: none;
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.container {
  width: 100%;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.logo {
  color: var(--brand-color);
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.1923076923;
  letter-spacing: 0.03em;
  text-decoration: none;
  display: block;
}
.logo--dark {
  color: #212121;
}
.logo--light {
  color: #ffffff;
}

.title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1666666667;
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 50px;
}

.btn {
  min-width: 200px;
  height: 50px;
  display: block;
  color: #ffffff;
  background-color: var(--brand-color);
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  border: 1px solid var(--brand-color);
  border-radius: 4px;
  transition: box-shadow 250ms var(--timing-function);
}
.btn:hover, .btn:focus {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.socials {
  display: flex;
  justify-content: center;
}

.socials__item {
  width: 44px;
  height: 44px;
  margin-right: 10px;
}
.socials__item:last-child {
  margin-right: 0;
}

.socials__link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.socials__link--light {
  color: #afb1b8;
  background-color: #ffffff;
  transition: background-color 250ms var(--timing-function), color 250ms var(--timing-function);
}
.socials__link--light:hover, .socials__link--light:focus {
  background-color: var(--brand-color);
  color: #ffffff;
}

.socials__link--dark {
  color: #ffffff;
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color 250ms var(--timing-function), color 250ms var(--timing-function);
}
.socials__link--dark:hover, .socials__link--dark:focus {
  background-color: var(--brand-color);
}

.socials__icon {
  fill: currentColor;
}

.backdrop {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 0;
  transition: opacity 250ms var(--timing-function), visibility 250ms var(--timing-function);
}

.modal {
  position: absolute;
  width: 528px;
  min-height: 581px;
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 40px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms var(--timing-function);
}
.backdrop.is-hidden .modal {
  transform: translate(-50%, 50%) scale(0);
}
.modal__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--title-text-color);
  margin-bottom: 12px;
  display: block;
}
.modal__send-btn {
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  text-align: center;
  transition: background-color 250ms var(--timing-function);
}
.modal__send-btn:hover, .modal__send-btn:focus {
  background-color: #188ce8;
}

.close-btn {
  position: absolute;
  display: flex;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  align-items: center;
  justify-content: center;
  transition: color 250ms var(--timing-function);
}
.close-btn__icon {
  fill: currentColor;
}
.close-btn:hover, .close-btn:focus {
  color: var(--brand-color);
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

/* --------- стилізація форми модального вікна --------- */
.form-field {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}
.form-field__label {
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.1666666667;
  letter-spacing: 0.01em;
  color: #757575;
}
.form-field__input-wrap {
  position: relative;
  color: #212121;
}
.form-field__input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  padding-left: 42px;
  transition: border-color 250ms var(--timing-function);
}
.form-field__icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  fill: currentColor;
  transition: color 250ms var(--timing-function);
}
.form-field__textarea {
  height: 120px;
  padding-top: 12px;
  padding-right: 16px;
  padding-bottom: 12px;
  padding-left: 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  resize: none;
  transition: border-color 250ms var(--timing-function);
}
.form-field__textarea::placeholder {
  font-size: 14px;
  line-height: 1.1428571429;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.form-field__input:focus, .form-field__textarea:focus {
  border-color: var(--brand-color);
}
.form-field__input:focus + .form-field__icon {
  color: var(--brand-color);
}

.comment-field {
  margin-bottom: 20px;
}

.check {
  margin-bottom: 30px;
}
.check__label {
  font-size: 14px;
  line-height: 1.7142857143;
  letter-spacing: 0.03em;
  color: #757575;
  display: flex;
  align-items: center;
  justify-content: center;
}
.check__icon-wrap {
  width: 16px;
  height: 15px;
  border: 2px solid #212121;
  border-radius: 2px;
  margin-right: 7px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.check__icon {
  fill: transparent;
}
.check__link {
  color: #2196f3;
  margin-left: 4px;
}

.check__input:checked + .check__label span {
  background-color: var(--brand-color);
  border: none;
}

.check__input:checked + .check__label .check__icon {
  fill: #ffffff;
}

.header {
  padding-top: 24px;
  padding-bottom: 25px;
  border-bottom: 1px solid #ececec;
}
.header .container {
  display: flex;
  align-items: center;
}
.header__logo {
  margin-right: 93px;
}

/*стилізація навігації сайту*/
.nav {
  display: flex;
}

.nav__item:not(:last-child) {
  margin-right: 50px;
}

.nav__link {
  position: relative;
  text-decoration: none;
  color: #212121;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1428571429;
  letter-spacing: 0.02em;
  padding-top: 32px;
  padding-bottom: 32px;
  transition: color 250ms var(--timing-function);
}
.nav__link:hover, .nav__link:focus {
  color: var(--brand-color);
}

.nav__link.curret {
  color: var(--brand-color);
}
.nav__link.curret::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--brand-color);
  display: block;
  bottom: -0.5px;
}

/*стилізація навігаціі контактів*/
.contact {
  display: flex;
}

.header__contact {
  margin-left: auto;
}

.contact__link {
  color: #757575;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1428571429;
  letter-spacing: 0.02em;
  text-decoration: none;
  display: flex;
  align-items: center;
  transition: color 250ms var(--timing-function);
}
.contact__link:hover, .contact__link:focus {
  color: var(--brand-color);
}

.contact__item {
  display: flex;
  align-items: center;
}
.contact__item:not(:last-child) {
  margin-right: 30px;
}

.contact__icon {
  display: block;
  margin-right: 10px;
  fill: currentColor;
}

.hero {
  background-color: #2f303a;
  padding-top: 118px;
  padding-bottom: 118px;
  margin: 0 auto;
  max-width: 1600px;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/photo_hero.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
@media screen and (min-width: 1200px) {
  .hero {
    padding-top: 200px;
    padding-bottom: 200px;
  }
}
.hero__title {
  color: #ffffff;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.6153846154;
  letter-spacing: 0.06em;
  text-align: center;
  text-transform: uppercase;
  max-width: 360px;
  margin: 0 auto 30px;
}
@media screen and (min-width: 1200px) {
  .hero__title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.3636363636;
    letter-spacing: 0.06em;
    max-width: 696px;
  }
}
.hero__btn {
  margin: 0 auto;
}

@media screen and (min-width: 1200px) {
  .feature {
    padding-bottom: 47px;
  }
}
.feature .feature__list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
@media screen and (min-width: 768px) {
  .feature__item {
    width: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .feature__item {
    width: calc((100% - 90px) / 4);
  }
}
.feature__thumb {
  width: 100%;
  height: 120px;
  background-color: #f5f4fa;
  border-radius: 4px;
  margin-bottom: 30px;
  align-items: center;
  justify-content: center;
  display: flex;
}
.feature__title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1428571429;
  letter-spacing: 0.03em;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 10px;
}
@media screen and (min-width: 768px) {
  .feature__title {
    text-align: left;
  }
}
.feature__text {
  font-size: 14px;
  line-height: 1.7142857143;
  letter-spacing: 0.03em;
}

.work {
  display: none;
  padding-top: 47px;
}
@media screen and (min-width: 1200px) {
  .work {
    display: block;
    padding-top: 47px;
  }
}
.work__list {
  display: flex;
  margin-left: -30px;
}
.work__item {
  flex-basis: calc(33.3333333333% - 30px);
  margin-left: 30px;
}
.work__thumb {
  position: relative;
}
.work__content {
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 70px;
  bottom: 0;
  left: 0;
  margin: 0;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1428571429;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  background-color: rgba(47, 48, 58, 0.8);
}

.team {
  background-color: #f5f4fa;
}
.team__list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.team__item {
  width: 100%;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background-color: #ffffff;
}
@media screen and (min-width: 768px) {
  .team__item {
    width: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .team__item {
    width: calc((100% - 90px) / 4);
  }
}
.team__item > img {
  width: 100%;
}
.team__socials {
  margin-top: 16px;
}

.team-content {
  padding-top: 30px;
  padding-bottom: 30px;
}
.team-content__title {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.1875;
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 10px;
}
.team-content__text {
  font-size: 16px;
  line-height: 1.1875;
  letter-spacing: 0.03em;
  text-align: center;
}

.client__list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.client__item {
  width: calc((100% - 30px) / 2);
  height: 92px;
}
@media screen and (min-width: 768px) {
  .client__item {
    width: calc((100% - 60px) / 3);
  }
}
@media screen and (min-width: 1200px) {
  .client__item {
    width: calc((100% - 150px) / 6);
  }
}

.client__link {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  color: #afb1b8;
  transition: color 250ms var(--timing-function), border 250ms var(--timing-function);
}
.client__link:hover, .client__link:focus {
  color: var(--brand-color);
  border: 1px solid var(--brand-color);
}

.client__icon {
  fill: currentColor;
}

/*cтилізація футера*/
.footer {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}
.footer .container {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.footer-title {
  display: inline-block;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1428571429;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

.footer-contact__logo {
  margin-bottom: 20px;
}

.footer-contact__link {
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
  line-height: 1.7142857143;
  letter-spacing: 0.03em;
  text-decoration: none;
  display: block;
  transition: color 250ms var(--timing-function);
}
.footer-contact__link--white {
  color: #ffffff;
}
.footer-contact__link:hover, .footer-contact__link:focus {
  color: var(--brand-color);
}

.footer-contact__item:not(:last-child) {
  margin-bottom: 9px;
}

/*----------стилізація форми футера ------------ */
.subscribe__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 12px;
  border: 1px solid var(--brand-color);
  border-radius: 4px;
}

.subscribe__form {
  display: flex;
}

.subscribe__input {
  width: 358px;
  height: 50px;
  background-color: transparent;
  color: #ffffff;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  padding-left: 16px;
  outline: none;
  transition: border-color 250ms var(--timing-function);
}
.subscribe__input:hover, .subscribe__input:focus {
  border-color: var(--brand-color);
}
.subscribe__input::placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  align-items: center;
  color: rgba(255, 255, 255, 0.6);
}

.subscribe__icon {
  margin-left: 10px;
}

.portfolio__btn-list {
  display: flex;
  justify-content: center;
}

.portfolio__btn-item:not(:last-child) {
  margin-right: 8px;
}

.portfolio__btn {
  color: #212121;
  background-color: #f5f4fa;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  letter-spacing: 0.03em;
  text-align: center;
  padding: 6px 22px;
  border: transparent;
  border-radius: 4px;
  transition: color 250ms var(--timing-function), background-color 250ms var(--timing-function), box-shadow 250ms var(--timing-function);
}
.portfolio__btn:hover, .portfolio__btn:focus {
  color: #ffffff;
  background-color: #2196f3;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio__list {
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-bottom: -30px;
}

.portfolio__item {
  flex-basis: calc(33.3333333333% - 30px);
  margin-left: 30px;
  margin-bottom: 30px;
}

.portfolio__link {
  text-decoration: none;
  display: block;
  transition: box-shadow 250ms var(--timing-function);
}
.portfolio__link:hover, .portfolio__link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio__title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
}

.portfolio__text {
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

.portfolio__content {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
}

.portfolio__thump {
  position: relative;
  overflow: hidden;
}

.portfolio__overlay {
  position: absolute;
  top: 0;
  left: 0;
  padding-top: 63px;
  padding-left: 24px;
  padding-bottom: 63px;
  padding-right: 24px;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  font-size: 18px;
  line-height: 1.5555555556;
  letter-spacing: 0.03em;
  color: #ffffff;
  transform: translateY(100%);
  transition: transform 250ms var(--timing-function);
}
.portfolio__link:hover .portfolio__overlay, .portfolio__link:focus .portfolio__overlay {
  transform: translateY(0);
}/*# sourceMappingURL=main.css.map */