.header {
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #ececec;

  @media screen and (min-width: 768px) {
    padding-top: 21px;
    padding-bottom: 21px;
  }
  @media screen and (min-width: 1200px) {
    padding-top: 24px;
    padding-bottom: 25px;
  }

  & > .container {
    display: flex;
    align-items: center;
  }

  &__logo {
    @media screen and (min-width: 768px) {
      margin-right: 88px;
    }

    @media screen and (min-width: 1200px) {
      margin-right: 93px;
    }
  }
}

/*стилізація навігації сайту*/

.nav {
  display: none;
  @media screen and (min-width: 768px) {
    display: flex;
  }
}

.nav__item:not(:last-child) {
  margin-right: 50px;
}

.nav__link {
  position: relative;
  text-decoration: none;
  color: #212121;
  @include font(500, 14px, 16px, 0.02em);
  padding-top: 32px;
  padding-bottom: 32px;
  transition: color 250ms var(--timing-function);

  &:hover,
  &:focus {
    color: var(--brand-color);
  }
}

.nav__link.curret {
  color: var(--brand-color);
  &::after {
    position: absolute;
    content: '';
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: var(--brand-color);
    display: block;
    bottom: -0.5px;
  }
}

/*стилізація навігаціі контактів*/
.contact {
  display: none;

  @media screen and (min-width: 768px) {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  @media screen and (min-width: 1200px) {
    display: flex;
    flex-direction: row;
    gap: 30px;
  }
}

.header__contact {
  margin-left: auto;
}

.contact__link {
  color: #757575;

  @include font(500, 12px, 14px, 0.02em);
  @media screen and (min-width: 1200px) {
    @include font(500, 14px, 16px, 0.02em);
  }
  text-decoration: none;
  display: flex;
  align-items: center;
  transition: color 250ms var(--timing-function);
  &:hover,
  &:focus {
    color: var(--brand-color);
  }
}

.contact__item {
}

.contact__icon-tab {
  display: block;
  margin-right: 8px;
  fill: currentColor;
  @media screen and (min-width: 1200px) {
    display: none;
  }
}

.contact__icon {
  display: none;
  margin-right: 10px;
  fill: currentColor;

  @media screen and (min-width: 1200px) {
    display: block;
  }
}

.menu-open-btn {
  padding: 0;
  margin-left: auto;

  width: 40px;
  height: 40px;
  background-color: #fff;
   border: none;
  color: #212121;
  transition: color 250ms var(--timing-function);

 @media screen and (min-width: 768px) {
   display: none;
  }

  &__icon {
    fill: currentColor;
  }

  &:hover,
  &:focus {
    color: var(--brand-color);
  }
}
