.team {
  background-color: #f5f4fa;
  &__list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }
 

  &__item {
    width: 100%;

    @media screen and (min-width: 768px) {
      width: calc((100% - 30px) / 2);
    }

    @media screen and (min-width: 1200px) {
      width: calc((100% - 90px) / 4);
    }

    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    background-color: #ffffff;

     & >img {
    width: 100%;
  }
  }

  &__socials {
    margin-top: 16px;
  }
}

.team-content {
  padding-top: 30px;
  padding-bottom: 30px;

  &__title {
    color: var(--title-text-color);
    @include font(500, 16px, 19px);
    text-align: center;
    margin-bottom: 10px;
  }

  &__text {
    @include font(null, 16px, 19px);
    text-align: center;
  }
}
